<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RuneReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RuneReader.Properties.Settings>
            <setting name="CapX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CapY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CapWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CapHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppStartX" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="AppStartY" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SaveFontName" serializeAs="String">
                <value>PT_Sans</value>
            </setting>
            <setting name="SaveFontSizeX" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SaveFontSizeY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetA" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ActivationKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ActivationModeSendOnPress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VariancePercent" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CaptureRateMS" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="KeyPressSpeedMS" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PushAndRelease" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickDecode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cap2X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cap2Y" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Cap2Width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Cap2Height" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Use2ndImageDetection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DruidTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DruidTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DruidTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DruidTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DruidVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PaladinTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaladinTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaladinTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaladinTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaladinVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WarlockTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarlockTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarlockTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarlockTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarlockVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShamanTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShamanTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShamanTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShamanTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShamanVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RogueTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RogueTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RogueTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RogueTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RogueVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WarriorTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarriorTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarriorTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarriorTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WarriorVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EvokerTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EvokerTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EvokerTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EvokerTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EvokerVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HunterTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HunterTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HunterTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HunterTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HunterVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MageTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MageTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MageTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MageTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MageVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PriestTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriestTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriestTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriestTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriestVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MonkTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonkTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonkTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonkTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonkVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DemonHunterTargetR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DemonHunterTargetG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DemonHunterTargetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DemonHunterTargetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DemonHunterVariancePercent" serializeAs="String">
                <value>10</value>
            </setting>
        </RuneReader.Properties.Settings>
    </userSettings>
</configuration>