<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>20</ApplicationRevision>
    <ApplicationVersion>1.0.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://www.mkfam.com/installer/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>06CB8534EE63D4AF060DC0D1B3D8830B4E44D170</ManifestCertificateThumbprint>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <ProductName>RuneReader</ProductName>
    <PublishDir>bin\Release\net8.0-windows7.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>X:\dataStore\webhost\installer\</PublishUrl>
    <PublisherName>Tanstaafl Gaming</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.html</WebPageFileName>
    <History>True|2025-04-09T05:55:32.0889097Z||;True|2025-04-09T01:51:30.4955439-04:00||;True|2025-04-08T21:11:06.4820993-04:00||;True|2025-04-08T21:06:14.0519072-04:00||;True|2025-04-08T21:05:00.1617258-04:00||;True|2025-04-08T20:57:15.4763505-04:00||;False|2025-04-08T20:56:27.2083827-04:00||;True|2025-03-29T05:49:15.7108151-04:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>