<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>18</ApplicationRevision>
    <ApplicationVersion>1.0.3.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://www.mkfam.com/installer/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>06CB8534EE63D4AF060DC0D1B3D8830B4E44D170</ManifestCertificateThumbprint>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <ProductName>RuneReader</ProductName>
    <PublishDir>bin\Release\net8.0-windows7.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>X:\dataStore\webhost\installer\</PublishUrl>
    <PublisherName>Tanstaafl Gaming</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.html</WebPageFileName>
    <History>True|2025-07-02T12:22:05.8857380Z||;True|2025-06-19T12:48:00.2458746-04:00||;True|2025-06-11T01:31:13.2813559-04:00||;True|2025-05-14T16:38:55.1280902-04:00||;True|2025-05-14T07:52:52.8329456-04:00||;True|2025-05-01T04:47:17.5023599-04:00||;True|2025-05-01T04:37:48.0320445-04:00||;True|2025-05-01T03:04:03.0545798-04:00||;True|2025-05-01T02:55:55.9950071-04:00||;True|2025-04-28T17:57:03.7969699-04:00||;True|2025-04-26T19:23:48.1860664-04:00||;False|2025-04-26T19:23:06.1813449-04:00||;True|2025-04-26T19:22:49.7272393-04:00||;True|2025-04-26T19:22:45.0292135-04:00||;True|2025-04-25T05:20:54.7556967-04:00||;False|2025-04-25T05:13:28.9742639-04:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>